:root {

    --font: 'Montserrat',sans-serif;
    --green: #608a60;
    --green-dark: #3b573b;
    --black: #262626;
    --grey: #5a5a5a;
    --link: #00798f;
    --white: #ffffff;
}

html {
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* opacity: 0; */
}

*, *:before, *:after {
    box-sizing: border-box;
}

section {
    padding: 10px;
    margin-bottom: 40px;
}

h1 {
    font-weight: 800;
    color: white;
    font-size: 2.5em;
    justify-self: center;
}

h2, h3 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--link);
    display: inline-block;
}
a:active {
    transform: scale(0.99);
}
strong a {
    text-decoration: underline;
    color: var(--link);
    display: inline-block !important;
    color: var(--link) !important;
}
p {
    color: var(--black);
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.4rem;
    margin: 0;
}


div {
    display: inline-block
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    overflow: auto;
}
li {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: auto;
}
li a {
    display: flex;
    align-items: baseline;
    margin: 5px 0;
    margin-bottom: 0;
    color: var(--grey);
}
li h2 {
    margin-right: 5px;
    font-size: 1em;
}
li h3 {
    font-size: 0.9rem;
    font-weight: lighter;
    flex: 1;
}

#start {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--green);
    flex: 1;
    -moz-box-shadow:    inset 0 0 30px #0000000d;
    -webkit-box-shadow: inset 0 0 20px #0000000d;
    box-shadow:         inset 0 0 20px #0000000d;
}
#start a {
    display: flex;
    position: absolute;
    width: 64px;
    height: 64px;
    flex-direction: column;
    transform: rotate(180deg);
    align-self: flex-start;
    justify-self: flex-start;
    bottom: 20px;
    animation: pulse 1s infinite ease-out;
}

#end {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

#top-btn {
    display: flex;
    opacity: 0.7;
    position: sticky;
    align-self: flex-end;
    width: 64px;
    height: 64px;
    bottom: 0;
    right: 15px;
}

.title {
    color: var(--green);
    width: 100%;
}
.title h2 {
    font-weight: bold;
    font-size: 2.5em;
}
.title h3 {
    font-weight: 100;
    font-size: 1.2rem;
    color: var(--green-dark);
}

.subtitle {
    color: var(--black);
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}
.subtitle:visited {
    color: var(--black);
}
.subtitle h2 {
    font-weight: bold;
    font-size: 1.5rem;
}
.subtitle h3 {
    font-weight: 100;
    font-size: 1.1rem;
}

.standard {
    padding-left: 23px;
    list-style-type: lower-latin;
    overflow: visible;
}
.standard li {
    font-style: italic;
    color: var(--grey) !important;
    overflow: initial;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 15px;
}
.standard li p {
    font-weight: normal;
    font-size: 0.9rem;
    color: var(--grey);
}

.normal {
    padding-left: 23px;
    list-style-type: decimal;
    overflow: visible;
}
.normal li {
    overflow: initial;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 15px;
}
.normal li p {
    font-size: 1rem;
}

.tight li {
    margin: 0;
    margin-bottom: 10px;
    font-style: italic;
}

.round {
    background-color: var(--green-dark);
    color: white;
    padding: 8px 32px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: 500;
    justify-self: flex-end;
}

@keyframes pulse {
    0% {
        transform: translateY(-30px) rotate(180deg);
        opacity: 1;
    }
    15% {
        transform: translateY(0) rotate(180deg);
        opacity: 1;
    }
    100% {
        transform: translateY(0) rotate(180deg);
        opacity: 0;
    }
}
